In [2]:
import pandas as pd

In [3]:
data = pd.read_csv('C:/Users/91997/Downloads/titles.csv')
data.head()

                  title  year
0    Tasveer Mere Sanam  1996
1              Only You  1994
2  El pueblo del terror  1970
3               Machine  2007
4                  MARy  2008

### How many movies are listed in the titles dataframe?

In [4]:
data.title.count()

244914

### What are the earliest two films listed in the titles dataframe?

In [5]:
data.sort_values(by='year', ascending=False).head(2)

                           title  year
242196                 100 Years  2115
183018  The Zero Century: Maetel  2026

### How many movies have the title "Hamlet"?

In [6]:
value=data[data['title'].str.contains("Hamlet")]
print(value.title.count())

57

### How many movies are titled "North by Northwest"?

In [7]:
value2=data[data['title'].str.contains("North by Northwest")]

print(value2.title.count())

1

### When was the first movie titled "Hamlet" made?

In [12]:
first_case=value.sort_values(by='year', ascending=True).head(1) 
l=first_case.values.tolist()    #converting dataframe into list to access single value

print(l[0][1])

1910

### List all of the "Treasure Island" movies from earliest to most recent.

In [44]:
value3=data[data['title'].str.contains("Treasure Island")]
second_case=value3.sort_values(by='year', ascending=True) 

l2=second_case.values.tolist() #converting into list to access single value
#print(l2)
import numpy as np

a=np.array(l2)
#print(a[0][0])
length=len(a)
j=0
#print("length of an array ", length)
while (j<=(length-1)):
        n=a[j][0]
        print(n)
        j=j+1

#here multiple entries are present with different year  but titles are same. list is in assecending order usig  year column.

Treasure Island
Treasure Island
Treasure Island
The Secret of Treasure Island
Charlie Chan at Treasure Island
Treasure Island
Return to Treasure Island
Five on a Treasure Island
Treasure Island
Treasure Island
Treasure Island
Muppet Treasure Island
Treasure Island
Treasure Island (II)
Treasure Island Kids: The Battle of Treasure Island
Pirates of Treasure Island
Treasure Island Kids: The Mystery of Treasure Island
Treasure Island Kids: The Monster of Treasure Island
National Theatre Live: Treasure Island

### How many movies were made in the year 1950?

In [58]:
value4=data[data.year==1950].count()
l5=value4.values.tolist() #converting into list to access single value

print(l5[0])

1113

### How many movies were made in the year 1960?

In [60]:
value5=data[data.year==1960].count()
l6=value5.values.tolist() #converting into list to access single value

print(l6[0])

1549

### How many movies were made from 1950 through 1959?

In [72]:
value6=data[(data.year>=1950 )& (data.year<=1959)].count()
l7=value6.values.tolist() #converting into list to access single value

print(l7[0])

12934

### In what years has a movie titled "Batman" been released?

In [77]:
data2 = pd.read_csv('C:/Users/91997/Downloads/release_dates.csv')

batman_year=data2[data2.title=="Batman"].year

l8=batman_year.values.tolist() #converting into list to access single value
print("Batman released in year -> ",l8[0])

Batman released in year ->  1943

### How many roles were there in the movie "Inception"?

In [162]:
data3 = pd.read_csv('C:/Users/91997/Downloads/cast.csv')
#print(data3.info())


roles=data3[data3.title=="Inception"]

In [163]:
count_roles=roles.name
print("roles in the movie Inception are ->",count_roles.count())

roles in the movie Inception are -> 78

### How many roles in the movie "Inception" are NOT ranked by an "n" value?

In [164]:
data_new=roles.isna()
Not_ranked=data_new[data_new.n==True]
value_not_ranked=Not_ranked.n.count()

print(value_not_ranked)

27

### But how many roles in the movie "Inception" did receive an "n" value?

In [165]:

ranked=data_new[data_new.n==False]
value_ranked=ranked.n.count()

print(value_ranked)

51

### Display the cast of "North by Northwest" in their correct "n"-value order, ignoring roles that did not earn a numeric "n" value.

In [178]:
data4 = pd.read_csv('C:/Users/91997/Downloads/cast.csv')

#max=data4.n.max()
data4["n"].fillna(11111111,inplace=True)
roles2=data4[data4.title=="North by Northwest"]

data_new1=roles2[roles2.n!=11111111]
data_new1=data_new1.sort_values(by='n', ascending=True) 

print(data_new1)

                      title  year                  name     type  \
871426   North by Northwest  1959            Cary Grant    actor
3518333  North by Northwest  1959       Eva Marie Saint  actress
1457165  North by Northwest  1959           James Mason    actor
3157232  North by Northwest  1959   Jessie Royce Landis  actress
356707   North by Northwest  1959        Leo G. Carroll    actor
3048272  North by Northwest  1959  Josephine Hutchinson  actress
1695173  North by Northwest  1959           Philip Ober    actor
1275337  North by Northwest  1959         Martin Landau    actor
2447081  North by Northwest  1959         Adam Williams    actor
1811387  North by Northwest  1959          Edward Platt    actor
665768   North by Northwest  1959     Robert Ellenstein    actor
2295714  North by Northwest  1959          Les Tremayne    actor
464736   North by Northwest  1959       Philip Coolidge    actor
1508344  North by Northwest  1959         Patrick McVey    actor
206471   North by Northwest  1959          Edward Binns    actor
1384780  North by Northwest  1959             Ken Lynch    actor

                           character     n
871426            Roger O. Thornhill   1.0
3518333                  Eve Kendall   2.0
1457165              Phillip Vandamm   3.0
3157232              Clara Thornhill   4.0
356707                 The Professor   5.0
3048272                Mrs. Townsend   6.0
1695173              Lester Townsend   7.0
1275337                      Leonard   8.0
2447081                     Valerian   9.0
1811387              Victor Larrabee  10.0
665768                         Licht  11.0
2295714                   Auctioneer  12.0
464736                     Dr. Cross  13.0
1508344               Sergeant Flamm  14.0
206471                Captain Junket  15.0
1384780  Charley - Chicago Policeman  16.0

### Display the entire cast, in "n"-order, of the 1972 film "Sleuth".

In [179]:
cast=data4[(data4.title=="Sleuth")&(data4.year==1972)]

#cast["n"].fillna("111111",inplace=True)

data_new2=cast.sort_values(by='n', ascending=True) 

print(data_new2)

          title  year                name     type  \
1705394  Sleuth  1972    Laurence Olivier    actor
326773   Sleuth  1972       Michael Caine    actor
373876   Sleuth  1972      Alec Cawthorne    actor
1465483  Sleuth  1972  John (II) Matthews    actor
2724553  Sleuth  1972  Eve (III) Channing  actress
1448690  Sleuth  1972        Teddy Martin    actor

                          character    n
1705394                 Andrew Wyke  1.0
326773                  Milo Tindle  2.0
373876            Inspector Doppler  3.0
1465483  Detective Sergeant Tarrant  4.0
2724553             Marguerite Wyke  5.0
1448690      Police Constable Higgs  6.0

### Now display the entire cast, in "n"-order, of the 2007 version of "Sleuth".

In [180]:
cast2=data4[(data4.title=="Sleuth")&(data4.year==2007)]

#cast2["n"].fillna("111111",inplace=True)

data_new6=cast2.sort_values(by='n', ascending=True) 
print(data_new6)

          title  year                 name     type          character       n
326774   Sleuth  2007        Michael Caine    actor             Andrew     1.0
1293634  Sleuth  2007             Jude Law    actor               Milo     2.0
1805907  Sleuth  2007        Harold Pinter    actor        Man on T.V.     3.0
260242   Sleuth  2007      Kenneth Branagh    actor  Other Man on T.V.  1111.0
373877   Sleuth  2007  Alec (II) Cawthorne    actor  Inspector Doppler  1111.0
2724552  Sleuth  2007    Eve (II) Channing  actress    Marguerite Wyke  1111.0
3370424  Sleuth  2007    Carmel O'Sullivan  actress             Maggie  1111.0

### How many roles were credited in the silent 1921 version of Hamlet?

In [189]:
cast3=data4[(data4.title=="Hamlet")&(data4.year==1921)]
roles_cast=cast3.name
roles_credited=roles_cast.count()
print("roles were credited ",roles_credited)

roles were credited  9

### How many roles were credited in Branagh’s 1996 Hamlet?

In [194]:
cast4=data4[(data4.title=="Hamlet")&(data4.year==1996)]
roles_cast2=cast4.name
roles_credited2=roles_cast2.count()
print("roles were credited ",roles_credited2)

roles were credited  54

### How many "Hamlet" roles have been listed in all film credits through history?

In [197]:
cast5=data4[data4.title=="Hamlet"]
cast5_count=cast5.character.count()
print(cast5_count)

342

### How many people have played an "Ophelia"?

In [200]:
cast6=data4[data4.character=="Ophelia"]
cast6_count=cast6.count()
count_of=cast6_count.tolist()
print(count_of[2])

117

### How many people have played a role called "The Dude"?

In [203]:
cast7=data4[data4.character=="The Dude"]
cast7_count=cast7.count()
count_of2=cast7_count.tolist()
print(count_of2[2])

19

### How many people have played a role called "The Stranger"?

In [204]:
cast8=data4[data4.character=="The Stranger"]
cast8_count=cast8.count()
count_of3=cast8_count.tolist()
print(count_of3[2])

212

### How many roles has Sidney Poitier played throughout his career?

In [211]:
record=data4[data4.name=="Sidney Poitier"]
rec_count=record.count()
count_of4=rec_count.tolist()
print(count_of4[4])

43

### How many roles has Judi Dench played?

In [210]:
record2=data4[data4.name=="Judi Dench"]
rec2_count=record2.count()
count_of5=rec2_count.tolist()
print(count_of5[4])

55

### List the supporting roles (having n=2) played by Cary Grant in the 1940s, in order by year.

In [221]:
record3=data4[(data4.name=="Cary Grant") & ((data4.year>=1940) & (data4.year<=1949)) &(data4.n==2) ]
record3=record3.sort_values(by="year",ascending=True)
supporting_roles=record3.character.tolist()
print(supporting_roles)

['Nick Arden', 'Roger Adams']

### List the leading roles that Cary Grant played in the 1940s in order by year.

In [234]:
record4=data4[(data4.name=="Cary Grant") & ((data4.year>=1940) & (data4.year<=1949))]
record4=record4.sort_values(by="year",ascending=True)
#supporting_roles=record3.character.tolist()
#print(supporting_roles)

print(record4)

                                       title  year        name   type  \
871450                The Philadelphia Story  1940  Cary Grant  actor
871448               The Howards of Virginia  1940  Cary Grant  actor
871407                       His Girl Friday  1940  Cary Grant  actor
871423                      My Favorite Wife  1940  Cary Grant  actor
871438                             Suspicion  1941  Cary Grant  actor
871433                        Penny Serenade  1941  Cary Grant  actor
871452                  The Talk of the Town  1942  Cary Grant  actor
871429                 Once Upon a Honeymoon  1942  Cary Grant  actor
871398                     Destination Tokyo  1943  Cary Grant  actor
871422                             Mr. Lucky  1943  Cary Grant  actor
871390                  Arsenic and Old Lace  1944  Cary Grant  actor
871430                      Once Upon a Time  1944  Cary Grant  actor
871425             None But the Lonely Heart  1944  Cary Grant  actor
871405               George White's Scandals  1945  Cary Grant  actor
871424                         Night and Day  1946  Cary Grant  actor
871427                             Notorious  1946  Cary Grant  actor
871466                  Without Reservations  1946  Cary Grant  actor
871444      The Bachelor and the Bobby-Soxer  1947  Cary Grant  actor
871445                     The Bishop's Wife  1947  Cary Grant  actor
871421  Mr. Blandings Builds His Dream House  1948  Cary Grant  actor
871402          Every Girl Should Be Married  1948  Cary Grant  actor
871411                I Was a Male War Bride  1949  Cary Grant  actor

                                   character       n
871450                    C. K. Dexter Haven     1.0
871448                           Matt Howard     1.0
871407                          Walter Burns     1.0
871423                            Nick Arden     2.0
871438                      Johnnie Aysgarth     1.0
871433                           Roger Adams     2.0
871452                          Leopold Dilg     1.0
871429                 Patrick 'Pat' O'Toole     1.0
871398                         Capt. Cassidy     1.0
871422  Joe Adams -posing as Joe Bascopolous     1.0
871390                     Mortimer Brewster     1.0
871430                           Jerry Flynn     1.0
871425                            Ernie Mott     1.0
871405                            Cary Grant  1111.0
871424                           Cole Porter     1.0
871427                                Devlin     1.0
871466                            Cary Grant  1111.0
871444                           Dick Nugent     1.0
871445                                Dudley     1.0
871421                         Jim Blandings     1.0
871402                     Dr. Madison Brown     1.0
871411                 Captain Henri Rochard     1.0

### How many roles were available for actors in the 1950s?

In [232]:
record6=data4[(data4.type=="actor") & ((data4.year>=1950) & (data4.year<=1959)) ]
#record3=record3.sort_values(by="year",ascending=True)
supporting_roles=record6.character.count()
print(supporting_roles)

157738

 ### How many roles were available for actresses in the 1950s?

In [233]:
record7=data4[(data4.type=="actress") & ((data4.year>=1950) & (data4.year<=1959))]
#record3=record3.sort_values(by="year",ascending=True)
supporting_roles=record7.character.count()
print(supporting_roles)

57733

### How many leading roles (n=1) were available from the beginning of film history through 1980?

In [235]:
# data is insufficient to decide the role is leading or supporting or non leading from the data. 
# because there is no column mention that. considering all n=1 rows as leading .

record8=data4[ (data4.year<=1980) & (data4.n==1)]
#record3=record3.sort_values(by="year",ascending=True)
lead_roles= record8.character.count()
print(lead_roles)

65140

### How many non-leading roles were available through from the beginning of film history through 1980?

In [236]:
# data is insufficient to decide the role is leading or supporting or non leading from the data
# because there is no column mention that. considering all other roles as supporting other than row having n=1.
record9=data4[ (data4.year<=1980) & (data4.n!=1)]
#record3=record3.sort_values(by="year",ascending=True)
Nonlead_roles= record9.character.count()
print(Nonlead_roles)

1117667

### How many roles through 1980 were minor enough that they did not warrant a numeric "n" rank?

In [243]:
# data is insufficient to decide the role is leading or supporting or non leading from the data
# because there is no column mention that. 
data5 = pd.read_csv('C:/Users/91997/Downloads/cast.csv')
data5["n"].fillna(11111111,inplace=True)

record9=data5[(data5.year>=1980) & (data5.n==11111111)]
#record3=record3.sort_values(by="year",ascending=True)
Nonlead_roles= record9.character.count()
print(Nonlead_roles)

1014692